<header class="navbar-header">
  <nav class="navbar-container">
    <a routerLink="/" class="logo">Reutilízate</a>
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
      <li><a routerLink="/captura" routerLinkActive="active">Capturar Imagen</a></li>
      <li><a routerLink="/resultados" routerLinkActive="active">Resultados</a></li>
      <li><a routerLink="/puntos" routerLinkActive="active">Mis Puntos</a></li>
      <li><a routerLink="/canje" routerLinkActive="active">Canjear Rewards</a></li>
    </ul>
  </nav>
</header>